.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
h1{
  text-align: center;
}
.cage{
  border:black solid 2px;
  height: 200px;
  width: 700px;
  margin:auto;
  margin-top: 10px;
  background-color: white;

}
.mini {
        height: 500px;
    width: 500px;
    border: white solid 2px;
    display: table-cell;
    padding-left: 40px;
    background-color: black;
}
/*body{
  background-image: url('http://d5qsyj6vaeh11.cloudfront.net/images/homepage/featured-module-hp/ioi/ioi_waw_us.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}*/
#footer{
  text-align: center;
  color:white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p{
  text-align: center;
    font-size: 38px;
    font-family: sans-serif;
}

#me{

    border-radius: 100%;
    height: 190px;
    width: 347px;
    margin: auto;
    margin-top: 100px;

}

.list{
  font-size: 40px;
  /*display: inline;*/
}


.skill{
  display: inline-block;
}



